.wrapper {
        display: grid;
        grid-template-columns: 33% 67%;
        padding: 20px;
        grid-gap: 3px;
    }

    #header {
        font-size: 2em;
        text-align: center;
        background-color: aqua;
        grid-column-start: 1;
        grid-column-end: 4;
        padding: 20px;
    }
    #nav {
        font-size: 1.5em;
        text-align: left;
        background-color: greenyellow;
    }
    #nav a:hover {
      background-color: #ddd;
      color: black;
    }
    ul {
      list-style-type:none;
      display: table;
    }
    #main li {
      list-style-type:none;
      display: table;
      background-color: rgb(230, 234, 240);

    }
    #main {
        font-size: 1.5em;
        text-align: center;
        background-color: pink;
    }
    #footer {
        font-size: 1em;
        text-align: center;
        background-color: orange;
        grid-column-start: 1;
        grid-column-end: 4;
    }
